<?xml version="1.0" encoding="UTF-8" ?>
<!--<!DOCTYPE configuration> 붙일 필요 없는 듯, 다른 xml 예시 참고 https://hermeslog.tistory.com/458-->
<!--붙이면 아래 root level 쪽에서 빨간줄-->
<configuration debug="true">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%-5level] [%thread] [%logger{36}] - %m%n</Pattern>
        </layout>
    </appender>

    <logger name="org.example" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>